* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #69E0FB, #18A7C7);
}

header {
  width: 100%;
  height: 100px;
  background-color: #336D7A;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

header h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

main {
  background-color: #fff;
  width: 500px;
  height: calc(100vh - 100px);
  margin: 0 auto;
}

main .cards {
  list-style: none;
}
